@media  screen and (max-width:1024px) {
.title{
    min-width: 1440px;
}
    }
    .section__one{
        min-width: 1440px;
    }
    @media  screen and (max-width:990px) {
        .title{
            min-width: 1440px;
        }
            }
            .section__one{
                min-width: 1440px;
            }
@media  screen and (max-width:790px) {
    .title{
min-width: 1440px;
    }
    .section__one{
        min-width: 1440px;
    }
}
@media  screen and (max-width:760px) {
    .header__nav{
flex-direction: column;
    }
    .section__one{
        min-width: 1440px;
    }
}
@media  screen and (max-width:720px) {
.title{
    min-width: 1440px;
}
.section__one{
    min-width: 1440px;
}
}
@media  screen and (max-width:710px) {}
@media  screen and (max-width:480px) {
    .section__one{
        min-width: 1440px;
    }
    .banner{
        width: 480px;
        width: 100%;
        height: 100%;
    }
}
    @media  screen and (max-width:420px) {
    .section__one{
        min-width: 1440px;
    }
    }
        
           
                @media  screen and (max-width:320px) {}